# Vercel
.vercel

# Dependências (não usadas, mas evita sujeira)
node_modules/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp

# Logs e temporários
*.log
.env
.env.local
